<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Learning Vue 2</title>
 <script src="../js/vue.min.js"></script> 
</head>
<body>

	<div id="root">
	
		<h1 v-text="new Date()"></h1>
		
		<!-- llamado de funciones internas (compute property)-->
		<h2>{{reverseMessege}}</h2>

		<!-- AUTOMATIC-DATA-BINDING -->
		<input id="input" type="text" v-model="message">

		<!-- Getting valores del model -->
		<p>The value of the input es: {{message}} </p>
		
		<!-- looping --> 
		<ul>
			<li v-for="name in names">{{name}}</li>
		</ul>
		<!-- or  using v-text-->
		<ul>
			<li v-for="name in names" v-text="name"/>
		</ul>
		<!-- adding names to the json array-->
		<input type="text" v-model="newName">
		<button v-on:click="addName">Add</button>
		
	</div>

	<script>
		 let dataModel = {
				 newName:'',
				 message:'Hello World',
				 names:['Pepe','Cassandra','Java','Linux'] 
		 
		 };
		 
		 
		 //Surface-Area 
		 //Donde quiero que se aplique Vue se realiza atravez de la propiedad: el, que stand por "element"
		 //Para este caso todo dentro del div root, esta bajo el contexto de vue
		 var app = new Vue(
					{
			 			el: '#root',
			 			
			 			//model
			 			data:dataModel,
			
			 			//methods definidos en Vue
			 			methods:{
			 				addName: function(){
								this.names.push(this.newName);
								this.newName = '';
							}
			 			},
			 			
			 			//functiones Internas
			 			computed:{
			 				reverseMessege(){
			 					return this.message.split('').reverse().join('');
			 				}
			 				
			 				
			 			},
			 			
			 			//function que se ejecuta cuando la instancia de Vue es correcta (ready to go)
			 			mounted(){
				 			//alert('correctamente iniciado');
			 			}
		 			}
		 		);
		 
	</script>

</body>
</html>